@page "/reservation"
@using MAUI_Traveless.Data

<div class="form">

    <div class="row">
        <h2 style="text-align: center; font-weight: normal">Reservation Finder</h2>

        <div id="airCode" class="col-sm">
            <label>Code:</label>
            <select @onchange="ShowFlightInfo" class="form-control">
                <option>Any</option>
                @foreach (var c in airports)
                {
                    <option value="@c.AirportCode">@c.AirportCode</option>
                }
            </select>
        </div>

        <div id="airline" class="col-sm">
            <label>Airline:</label>
            <select @onchange="ShowFlightInfo" class="form-control">
                <option>Any</option>
                @foreach (var al in flights)
                {
                    <option value="@al.Airline">@al.Airline</option>
                }
            </select>
        </div>

        <div class="col-sm">
            <label id="date">Name:</label>
            <input type="text" class="form-control" placeholder="Any" />
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-md; form-control" style="margin-top: 24px">Find Reservations</button>
        </div>
    </div>

    <div id="divider" style="margin: 50px" />

    <div class="row">
        <h2 style="text-align: center">Reservations</h2>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Loading..." readonly />
        </div>
        <div style="margin-bottom: 50px" />
    </div>


    <div class="row">
        <h2 style="text-align: center; font-weight: normal">Reserve</h2>

        <div class="row-sm">
            <label id="reservation">Reservation Code:</label>
            <input type="text" class="form-control" placeholder="Any" />
        </div>

        <div id="flightCode" class="col-sm">
            <label>Flight Code:</label>
            <select @onchange="ShowFlightInfo" class="form-control">
                <option>Any</option>
                @foreach (var fc in flights)
                {
                    <option value="@fc.FlightCode">@fc.FlightCode</option>
                }
            </select>
        </div>

        <div id="airline" class="col-sm">
            <label>Airline:</label>
            <select @onchange="ShowFlightInfo" class="form-control">
                <option>Any</option>
                @foreach (var al in flights)
                {
                    <option value="@al.Airline">@al.Airline</option>
                }
            </select>
        </div>

        <div id="cost" class="col-sm">
            <label>Cost:</label>
            <select @onchange="ShowFlightInfo" class="form-control">
                <option>Any</option>
                @foreach (var c in flights)
                {
                    <option value="@c.Price">@c.Price</option>
                }
            </select>
        </div>

        <div class="row-sm">
            <label id="name">Name:</label>
            <input type="text" class="form-control" placeholder="Any" />
        </div>

        <div class="row-sm">
            <label id="citizenship">Citizenship:</label>
            <input type="text" class="form-control" placeholder="Any" />
        </div>

        <div class="row-sm">
            <label id="status">Status:</label>
            <select class="form-control" style="text-align:left">
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>

        <div style="margin-bottom: 25px" />

        <div class="text-center d-grid col-3 mx-auto">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>


@code
{
    FlightManager fm = new FlightManager();
    List<Flight> flights = FlightManager.GetFlights();
    List<Airport> airports = FlightManager.GetAirports();

    string selectedFlight;

    private void ShowFlightInfo(ChangeEventArgs f)
    { selectedFlight = f.Value.ToString(); }
}
